<!DOCTYPE html>
<html lang="en" style="color: rgb(0, 0, 0); font-family: Aclonica, sans-serif">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
  <title>Bajablast Down Detector</title>
  <link rel="stylesheet" type="text/css" href="../assets/bootstrap/css/bootstrap.min.css" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Abril+Fatface&amp;display=swap" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Aclonica&amp;display=swap" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Alatsi&amp;display=swap" />
  <link rel="stylesheet" type="text/css" href="../styles/gradient-navbar-1.css" />
  <link rel="stylesheet" type="text/css" href="../styles/gradient-navbar.css" />
  <link rel="stylesheet" type="text/css" href="../styles/Navbar---Logo-Middle---Phone-Logo-Middle.css" />
  <link rel="stylesheet" type="text/css" href="../styles/styles.css" />
  <!-- <link rel="shortcut icon" href=""> -->
  <link rel="shortcut icon" href="../img/favicon.ico" type="image/x-icon">  
</head>
<!-- <script type = "text/js" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.1/moment.min.js"></script> -->
<body style="
  display: flex;
  flex-direction : column;
  min-height: 100vh;
  color: #3b92c3;
  background: rgb(40, 44, 44);
  font-family: Alatsi, sans-serif;
  width: 100%; ">
  <div id=" divtop" style="
        border-color: rgb(75, 166, 52);
        width: 100%;
        height: 100%; /*margin-left: auto;*/ /*margin-right: auto;*/
        filter: saturate(150%);
      ">
    <nav class="navbar navbar-dark navbar-expand-lg" id="app-navbar" style="width: 100%; align-content: center">
      <div class="container-fluid">
        <a class="navbar-brand" href="#" style="padding-top: 5px; margin-right: 26px"><img src="../img/bajablast.png"
            style="
                width: 60px;
                padding-right: 0px;
                margin-bottom: 0px;
                margin-right: 0px;
                margin-left: 12px;
              " /></a>
              
        <div>
          <a href = "/" style = "text-decoration: none;">
          <h1 style="font-size: 227%; color: rgb(0, 0, 0); margin-left: 4px">
            Baja Blast
          </h1>
          <h1 style="
                font-size: 122%;
                text-align: center;
                color: rgb(0, 0, 0);
                margin-left: 4px;
              ">
            Down Detector
          </h1>
        </a>
        </div>
        <img src="../img/bell.png" style="width: 59px; transform: translate(6px); margin-right: 1%" />
        <button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1" style="
              filter: brightness(200%) invert(100%) saturate(100%);
              border: 2px solid rgb(60, 113, 42);
              margin-right: -10px;
              margin-left: 4px;
            ">
          <span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navcol-1">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link active" href="#" style="color: rgb(0, 0, 0)">About Us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://github.com/gurubac/bajablastr" style="color: rgb(0, 0, 0)" target = "_blank" rel="noopener noreferrer">Github</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#" style="color: rgb(0, 0, 0)">Contact</a>
            </li>
          </ul>
        </div>
        <div></div>
      </div>
    </nav>
  </div>
  <div>
    <div style="width: 100%; height: 100%;">
      <h1 style="
            border-color: rgb(3, 252, 148);
            color: #f1de27;
            text-align: center;
            padding-top: 2%;
            height: 21%;
            width: 100%;
            font-size: 200%;
          ">
        Is the machine working?
      </h1>
    </div>

    <div style="height: 279%; width: 100%; text-align: center">
      <div class="table-responsive" style="height: 180px">
        <table class="table">
          <thead>
            <tr></tr>
          </thead>
          <tbody>
            <tr style="height: 50%">
              <td style="border-width: 0px; height: 80px">
                <% let addressURL=location.address %>
                  <button class="btn btn-primary" type="button" id="yesButton" onclick="yesSubmit('<%= addressURL %>');"
                    style="
                      width: 61%;
                      background: rgb(3, 252, 148);
                      color: rgb(0, 0, 0);
                      border-radius: 100px;
                      padding: 0px 0px;
                      font-size: 169%;
                      margin-left: 1px;
                      height: 100%;
                      transform: scale(1);
                      letter-spacing: 1%;
                      border-width: 5px;
                      border-color: rgb(0, 0, 0);
                    ">
                    Working
                  </button>
              </td>
            </tr>
            <tr>
              <td style="border-width: 0px; height: 80px">
                <button class="btn btn-primary" type="button" id="noSubmit" onclick="noSubmit('<%= addressURL %>');"
                  style="
                      height: 100%;
                      width: 61%;
                      background: rgb(200, 13, 13);
                      font-size: 169%;
                      padding: 0px 0px;
                      margin-right: 0px;
                      border-radius: 100px;
                      margin-left: 1px;
                      transform: scale(1);
                      letter-spacing: 1%;
                      border-width: 5px;
                      border-color: rgb(0, 0, 0);
                    ">
                  Not Working
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div style="height: 100%; width: 100%; overflow: y-auto">
      <h1 style="
            text-align: center;
            color:  #f1de27;
            padding: 10px;
            width: 100%;
            height: 100%;
            font-size: 150%;;
          ">
        <%= `${location.address}, ${location.city} ${location.state} ${location.zip}` %> <br> <br>
          Recent Results
      </h1>
      <div style="
            padding-top: 10px;
            height: 100%;
            width: 100%;
            letter-spacing: 0.5px;
          ">
        <% let filterLength=53 %>
          <% for (let i=location.comment.length - 1; i>= location.comment.length - filterLength && i >= 0; i--) { %>
            <% //machine working scenario%>
              <% if (location.comment[i].status=="WORKING" ) {%>
                <p
                  style="border: 3px solid rgb(68, 68, 68);background: #03fc94;border-top-left-radius: 10px;border-top-right-radius: 10px;border-bottom-right-radius: 10px;border-bottom-left-radius: 10px;color: rgb(0, 0, 0);text-align: center;margin: auto;width: 69%;letter-spacing: 0.5px;">
                  <%= `STATUS: ${location.comment[i].status} - ${location.comment[i].timestamp}`%>
                </p>
                <% } else if (location.comment[i].status=="NOT WORKING" ){ %>
                  <p
                    style=" background: #c80d0d; color: rgb(255, 255, 255); text-align: center;border-top-left-radius: 10px;border-top-right-radius: 10px;border-bottom-right-radius: 10px;border-bottom-left-radius: 10px;border: 3px solid rgb(68, 68, 68);width: 69%;height: 100%;margin: auto;letter-spacing: 0.5px">
                    <%= `STATUS: ${location.comment[i].status} - ${location.comment[i].timestamp}`%>
                  </p>
                  <% } %>
                    <% } %>
      </div>
    </div>
  </div>
  </div>

  <footer style="background: rgb(36, 36, 36); text-align: center; margin-top: auto; padding:10px ;">
    <h4 style="color:rgb(202, 202, 202); ">Baja Blast DD - Made by<a style = "text-decoration: none;" href = "https://github.com/gurubac" target="_blank" rel="noopener noreferrer"><span style="color:rgb(91, 243, 159);"> Guru
      </span></a>and <a style = "text-decoration: none;" href = "https://github.com/jmahir408" target="_blank" rel="noopener noreferrer"><span style="color:rgb(184, 105, 230)">Mahir</span></a></h4>
  </footer>

  <!-- scripts -->
  <script type = "text/js" src="/socket.io/socket.io.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.1/moment.min.js"></script> 
  <script type = "text/js" src="../assets/bootstrap/js/bootstrap.min.js"></script>
  <script>
    const baseURL = "https://bajablastr.herokuapp.com"
    //const baseURL = "http://localhost:3000"
    async function yesSubmit(addressURL) {
      console.log("yes button was clicked")
      let timestamp = moment(new Date()).format("h:mm:ss A - MMMM Do, YYYY");
      let status = "WORKING"
      let data = {
        timestamp: timestamp,
        status: status
      };
      await fetch(`${baseURL}/${addressURL}/info`, {
        method: 'POST',
        body: JSON.stringify(data),
        headers: {
          'Content-Type': 'application/json'
        }
      })
        .then(response => response.json())
        .then(json => {
          console.log(json)
          window.location = window.location;
        })
        .catch((err) => {
          console.log(err);
        });
    }

    async function noSubmit(addressURL) {
      console.log("no button was clicked")
      let timestamp = moment(new Date()).format("h:mm:ss A - MMMM Do, YYYY");
      let status = "NOT WORKING"
      let data = {
        timestamp: timestamp,
        status: status
      };
      await fetch(`${baseURL}/${addressURL}/info`, {
        method: 'POST',
        body: JSON.stringify(data),
        headers: {
          'Content-Type': 'application/json'
        }
      })
        .then(response => response.json())
        .then(json => {
          console.log(json)
          window.location = window.location;
        })
        .catch((err) => {
          console.log(err);
        });
    }
  </script>
</body>

</html>